html {
    height: 100vh;
}

body {
    font-family: 'Raleway';
    background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

canvas#weatherIcon {
    width: 300px;
    padding: 30px;
}

.container {
    display: none;
    margin: 20vh auto;
}

.show {
    display: block;
}

.location {
    font-size: 2.4em;
}

.summary,
.temperature {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.units {
    cursor: pointer;
    color: skyblue;
}